bod{
    background-color: black;
}

.ticke{
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
    color: white;
}
.btn-download butto{
    cursor: pointer;
    font-size: 40px;
    color: white;
    background-color: transparent;
    border: none;
}